body {
  margin: 0;
  padding: 0;
  font-family:'CMU Serif', Courier, monospace ;
}
a{
  color: limegreen;
  text-decoration: none;
}
#box1 ul{
  list-style-type: none;
  text-align: center;
}
#box1{
  padding-top: 10%;
  height: 50%;
  width: 50%;
  margin: auto;
}