body {
  margin: 0;
  padding: 0;
  background-image: url("./background-with-floral-field-shadow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}
.header{
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding-top: 50px;
  font-size: 100px;
  height: max-content;
  /* padding: 0px; */
  margin: 0px;
}
.hero {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: inherit;
  opacity: 1.5;
}
li {
  font-family: "DM Serif Text", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  z-index: 1;
  width: max-content;
  list-style: none;
  background-image: url(./list.svg);
  background-repeat: no-repeat;
  background-position: 10px -1px;
  background-size: 45px;
  padding: 10px 10px 10px 50px;
}
#box1 {
  height: max-content;
  width: 50%;
  margin: auto;
}
a {
  /* color: #79a3ca; */
  color: black;
  border-bottom: 1px #86bbec dotted;
  text-decoration: none;
}